@import '../../styles/vars.css';

.special {
  min-height: 400px;

  font-family: var(--ff-Tilda);
  
  background-color: var(--base-light-color);
}

.special__container {
  min-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-translucent);
  background-image: url('../../assets/special_img.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .special__container {
    padding: 0 80px !important;

    min-height: 500px;

    justify-content: flex-start;
  }
}

@media (min-width: 1260px) {
  .special {
    padding-bottom: 60px;
  }

  .special__container {
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
  }
}
